.item-container {
  display: flex;
  border-bottom: 1px solid #ccc;
  width: 100%;
}

.item-container:hover {
  display: flex;
  background-color: #fafafa;
}

.item-container:hover .action-container {
  display: flex;
}

.title-container {
  display: flex;
  width: 70%;
}

.timestamp-container {
  display: flex;
  width: 20%;
}

.action-container {
  display: none;
  align-items: center;
  justify-content: center;
  width: 10%;
}

.item-title {
  font-size: 13pt;
  color: #333;
}

.item-author {
  color: #999;
}

.remove-button {
  background-color: rgb(0, 0, 0, 0);
  border: none;
  outline: none;
}
