.App-header {
  background-color: #282c34;
  max-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  font-size: calc(10px + 1vmin);
  color: white;
}

.App-header .Header-content {
  margin-left: 5%;
}
